<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!--cfgs target class as spring bean class -->
	<bean id="shopping" class="com.nit.service.Shopping"></bean>

	<!-- cfgs advice class as Spring bean class -->
	<bean id="ceLogger"
		class="com.nit.advice.CommonExceptionLogger_Translator"></bean>


	<!--cfgs Aspectj AOP -->
	<aop:config>
		<aop:pointcut id="ptc"
			expression="execution(double com.nit.service.Shopping.doShopping(..))" />

		<aop:aspect ref="ceLogger">
			<aop:after-throwing method="loggerException"
				pointcut-ref="ptc" throwing="iae" />
		</aop:aspect>
	</aop:config>
</beans>
